@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Roboto Slab', serif;
}

header{
    background-color: black;
    color: white;
    padding: 8px;
    text-align: center;
}

.banner{
    height: 400px;
    width: 100%;
    border: 1px solid black;
}


.servicos-title{
    margin: 8px;
}
.servicos-title,.servico-title,.form-title{
    text-align: center;
}


.servicos-flex{
    display: flex;
    margin: 8px;
    flex-wrap: wrap;
    justify-content: center;

}

.servico{
    border: 1px solid black;
    width: 25%;
    height: 80px;
    margin: 1%;
}

.servico-title{
    font-size: 16px;
}

.form-div{
    margin: 1% auto;
    width: 70%;
}

#err-msg{
    display: none;
    border: 1px solid red;
    background-color: pink;
    color: red;
    height: 20px;
}

.form-buy{
    margin: 1% auto;
    text-align: center;
    padding: 1%;
}

input,select{
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 35px;
    margin: 1%;
}

input[type="text"]{
    width: 30%;
}

.btn{
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 10%;
}

.btn-submit{
    background-color: #5b90e5;
    color: #FFF;
    cursor: pointer;
}


footer{
    background-color: #000;
    color: #FFF;
    display: flex;
    justify-content: center;
    height: 90px;
}

.social-icons{
    list-style: none;
    display: inline-flex;
}

.social-icons >li {
    margin: 8px;
}

.copyright{
    margin: 8px;
}



@media only screen and (max-width: 786px){
    .servicos{
        flex-direction: column;
    }

    .btn{
        width: 30%;
    }


    .servico{
        width: 97%;
    }

    .form-div{
        width: 97%;
        margin: 1%;
        padding: 1%;
    }

    footer{
        margin-top:1%;
        flex-direction: column;
        justify-content: center;
    }
}