@media only screen and (max-width: 786px){
    .servicos{
        flex-direction: column;
    }

    .btn{
        width: 30%;
    }


    .servico{
        width: 97%;
        height: 400px;
        margin-top: 5%;
    }
    
    .servico-image{
        height: 80%;
    }

    .form-div{
        width: 97%;
        margin: 1%;
        padding: 1%;
    }

    footer{
        margin-top:1%;
        flex-direction: column;
        justify-content: center;
    }
}